* {
    margin-left: 3%;
    padding: 0;
    box-sizing: border-box; 
}
body {
    padding: 10px;
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
}
.insideImageBox{
    display: flex;
}
.memberRoles{
    writing-mode: vertical-rl;
    font-family: 'PT Serif', serif; 
    font-weight: 400;
    font-size: 13px;
    margin-left: 9px;
}
.names{
     font-family: 'Poppins', sans-serif; 
    font-weight: 600;
    font-size: 15px;
    margin-top: 10px;
}
.imageBox{
    width: 80%;
}
img{
    width: 90%;
}
.content{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    gap: 30px;
}
.centreImages{
    margin-top: 90px;
}
.teamName{
    font-family: 'PT Serif', serif;
    font-weight: 700;
    font-size: 40px;
    margin: 50px 0;
    width: 70%;
}
header{
    display: flex;
}
.title {
    width: 50%;
}
.descriptionTitle {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin-top: 60px;
}
.description {
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    font-size: 16px;
    width: 60%;
}
.creator{
    font-family: 'Montserrat';
    margin-top: 80px;
    margin-left: 32%;
    color: #A9A9A9;
    font-size: 14px;
}


@media only screen and (max-width:700px) {
    body {
        padding: 15px;
    }
    .title{
        width: 100%;
    }
    .teamName{
        font-weight: 700;
        font-size: 25px;
        margin: 50px 0;
        width: 60%;
    }
    img{
        min-width: 80px;
    }
    header {
        display: block;
        gap: 40px;
        margin: 5px 0;
    }
    .description{
        width: 100%;
    }
    .descriptionTitle {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 17px;
        margin-top: 30px;
    }
    .description {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 14px;
        width: 100%;
}
.content{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    gap: 30px;
}
.second{
    margin-top: 35px;
}
.fifth{
    margin-top: 0;
}
.fourth{
    margin-top: 35px;
}
.sixth{
    margin-top: 35px;
}
.creator{
    margin-left: 25%;
    font-size: 9px;
}
.teamName{
    margin-left: 3%;
}
}